.primary-button {
  all: unset;
  background-color: #3c343c;
  padding: 8px 24px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  p {
    position: relative;
    z-index: 5;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }

  &::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: black;
    border-radius: 8px;
    transition: width 200ms ease-in-out;
  }

  @include break(tablet) {
    p {
      font-size: 16px;
    }
  }
  @include break(mobile) {
    p {
      font-size: 12px;
    }

    &--navigation {
      display: none;
    }
  }
}
