.text-image {
  padding: 80px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    padding-bottom: 24px;
  }

  &__text {
    max-width: 480px;
  }

  &__image-slider {
    max-width: 620px;
    max-height: 620px;
  }

  &__slide {
    max-width: 620px;
    max-height: 620px;
  }

  .swiper {
    width: 620px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .swiper-button-prev {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #000;
    top: 60px;
    left: -32px;
    z-index: 100;
  }
  .swiper-button-next {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #000;
    z-index: 60;
  }
}
